
table{
  background-color: slategray;
  width: 600px;
  height: 600px;
}

td{
  background-color: lightgray;
  width: 33.33%;
  height: 33.33%;
  text-align: center;
}

td:hover{
  background: gray;
}

.lg-x{
  font-size: 40px;
}